<%- include('header') %>

<div class="">
  <div class="sign-in__wrapper">
    <div class="sign-in__backdrop"></div>
    <form class="shadow p-4 bg-white rounded" method="POST" action="/admin/login">
      <div class="h4 mb-2 text-center">Sign In</div>
      <% if (message) { %>
        <div class="alert alert-<%= type %>" role="alert">
          <%= message %>
        </div>
      <% } %>
      <div class="mb-2">
        <label class="form-label" for="username">Username or Email</label
        ><input
          placeholder="Username"
          required=""
          type="text"
          id="email"
          name="email"
          class="form-control"
          value=""
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="password">Password</label
        ><input
          placeholder="Password"
          required=""
          type="password"
          id="password"
          name="password"
          class="form-control"
          value=""
        />
      </div>
      <!-- <div class="mb-2">
        <div class="form-check">
          <input type="checkbox" id="checkbox" name="checkbox" class="form-check-input" /><label
            title=""
            for="checkbox"
            class="form-check-label"
            >Remember me</label
          >
        </div>
      </div> -->
      <button type="submit" class="w-100 btn btn-primary">Log In</button>
      <div class="d-grid justify-content-start">
        <a class="text-muted px-0" href="/forget-password" data-discover="true"
          >Forgot password?</a
        >
      </div>
      <div class="d-block justify-content-center">
        Don't have an account?
        <a class="text-muted px-0" href="/admin/register" data-discover="true"
          >Sign up</a
        >
      </div>
    </form>
    <div
      class="w-100 mb-2 position-absolute bottom-0 start-50 translate-middle-x text-white text-center"
    >
      ©2025 Developer | All rights reserved.
    </div>
  </div>
</div>

<%- include('footer') %>
